In [1]:
#when a business runs their ads . they show ads on loop to customers until they buy one.

In [2]:
l=["Cricket" "Football" "Hockey"]

In [16]:
for i in l:
    print(i)

CricketFootballHockey

In [17]:
l=[11,22,33,44,55,66,77,88]

In [18]:
for i in l:
    if i%2==0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even

In [46]:
l=["apple","banana", "orange","kiwi"]

In [47]:
l

['apple', 'banana', 'orange', 'kiwi']

In [81]:
for i in l:
    if 'a' in i:
        li=[i.replace('a','A')for i in l]
print (li)

['Apple', 'bAnAnA', 'orAnge', 'kiwi']

In [83]:
for i in range(0,101):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100