In [44]:
#List 

list=[]
print(list)
type(list)

[]

list

In [45]:
l1=[10,20,30,40] #int list
l2=['a','b','c','d'] #char list
l3=[1,'w',2,'s',3,'a',4,'d'] # mix list
print(l1)
print(l2)
print(l3)
print(type(l1))
print(type(l2))
print(type(l3))
l1[2]

[10, 20, 30, 40]
['a', 'b', 'c', 'd']
[1, 'w', 2, 's', 3, 'a', 4, 'd']
<class 'list'>
<class 'list'>
<class 'list'>

30

In [46]:
#data stored in list
list1=['monsi',18,'cse']
list2=['soni',19,'it']
list3=['nunal',20,'cse']
list4=['bansh',2,'cse']
list5=['suransh',34,'bsc']
list1,list2,list3,list4,list5

(['monsi', 18, 'cse'],
 ['soni', 19, 'it'],
 ['nunal', 20, 'cse'],
 ['bansh', 2, 'cse'],
 ['suransh', 34, 'bsc'])

In [49]:
#making list by using input
list=eval(input("Enter List:"))
#taking input in [],Input Example:- [2,4,6,'lav']
print(list)
print(type(list))

Enter List:[2,4,6,'lav']
[2, 4, 6, 'lav']
<class 'list'>

In [50]:
#range using list function
l=list(range(0,10,2))
l

#code shi hai bus compiler pe chal nhi rha

TypeError: 'list' object is not callable

In [53]:
#using split function in list 
s="python is easy!!!"
l=s.split()
l

['python', 'is', 'easy!!!']

In [68]:
#yaha index use hua hai(list ko aage se read krne ke lia indexing 0,1,2,3,--- se start hogi,
#or list ko last se starting me laane ke lia indexing -1,-2,-3,--- se hogi)
l=[1,2,3,4]
l[-1],l[-2],l[-3],l[-4]

(4, 3, 2, 1)

In [27]:
#using slicing(:)
l=[1,2,3,4,5,6,7,8]
l[0:8:2]

[1, 3, 5, 7]

In [97]:
li=['a','b','c','d','e']
print(li[1:4])#using slicing method
print(li[-4:4])#using slicing method
print(li[-4:-1])#using slicing method
print(li[1:-1])#using slicing method
#these all slicing method are for same output for the above list li
print(li[1],li[2],li[3])#using forward indexing
print(li[-4],li[-3],li[-2])#using reverse indexing

['b', 'c', 'd']
['b', 'c', 'd']
['b', 'c', 'd']
['b', 'c', 'd']
b c d
b c d

In [108]:
print(li[1:])#using slicing method
print(li[:4])#using slicing method
print(li[-1:])#using slicing method
print(li[:-4])#using slicing method
print(li[:-5])#using slicing method #to show empty list
#we can also use : to print full row or column

['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']
['e']
['a']
[]

In [121]:
print(li[1:4:1])#using slicing method
#(1:4:1) yaha last me jo (:1) hai vo range show krta hai , matlab gap kitna hona chahiye bich me.
#Examples:- 
list=[1,2,3,4,5,6,7,8,9,10]
print(list[1:10:2])
print(list[1:10:-+2])
print(list[1:10:+-2])
print(list[1:10:++2])
print(list[1:10:--2])

['b', 'c', 'd']
[2, 4, 6, 8, 10]
[]
[]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [125]:
n=[10,20,30,40]
print(n)
#changing value from list
n[3]=777 # here we use n[3] as index to store 777 in list
n

[10, 20, 30, 40]

[10, 20, 30, 777]

In [127]:
n=[1,2,3,4,5,6,7,8,9,10]
#using forloop to print list
for n1 in n:
    print(n1)

1
2
3
4
5
6
7
8
9
10

In [132]:
n=[0,1,2,3,4,5,6,7,8,9,10]
#using forloop to print even +ve number
for n1 in n:
    if n1%2==0:
        print(n1)

0
2
4
6
8
10

In [148]:
# for loop for generate 0-50 number and print all even -ve numbers.
#first method
l=50
for i in range(0,l):
    if i%2==0:
        print(i)
        
print("\n") # for space

#second method
li=50
for n in range(0,li,2):
    print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48


0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [157]:
# find factorial
f=1
l=10
for i in range(1,l+1):
    f=f*i
    print(f)

1
2
6
24
120
720
5040
40320
362880
3628800

In [158]:
n=[1,2,3,4,5,6,7,8,9,10]
len(n)
#yaha len() funtion use kia hai list ke total no. of elements find krne ke lia.

10

In [162]:
n=[1,2,2,2,3,3,3,3,4,5,5,1]
print(n.count(1))
print(n.count(2))
print(n.count(3))
print(n.count(4))
print(n.count(5))
# yaha humne count() function use kia hai dublicate ya no. of element find krne ke lia.

2
3
4
1
2

In [171]:
n=[1,2,2,2,3,3,3,3,4,5,5,1]
print(n.index(1))
print(n.index(2))
print(n.index(3))
print(n.index(4))
print(n.index(5))
#index() function. isko google se padh lio.

0
1
4
8
9

In [175]:
list=[]
list.append("a")
list.append("b")
list.append("c")
list
#we use append() function to add values in empty list.

['a', 'b', 'c']

In [176]:
n=[1,2,3,4,5,2]
n.insert(1,888)
n
#here we used insert() function to insert value in desired index.

[1, 888, 2, 3, 4, 5, 2]

In [177]:
n1=["RC","LL","OO"]
n2=["LAV","MAI","HU"]
n1.extend(n2)
n1
# here we used extend function to merge 2 or more list.

['RC', 'LL', 'OO', 'LAV', 'MAI', 'HU']

In [179]:
n=[10,20,30,40]
n.remove(10)
n
#here we used remove() function to remove an element from the list.

[20, 30, 40]

In [185]:
n=[10,20,30,40]
print(n.pop())
print(n.pop(0))
print(n)
# we used pop() function to remove desired index element.
# If we don't give index then it pop the last value from the list by default.

40
10
[20, 30]

In [3]:
n=[10,20,30,40]
n.reverse()
n
#here we used reverse() function to reverse all the ordered elements in list.

[40, 30, 20, 10]

In [18]:
n=["h","e","l","l","o"]
for i in range(len(n)):# here we used pop and insert to reverse the list.
    l=n.pop()
    n.insert(i,l)
print(n)

['o', 'l', 'l', 'e', 'h']

In [21]:
# here we used sort() function to sort the list.

n=[20,50,30,40,25]
n.sort()
n

[20, 25, 30, 40, 50]

In [24]:
#alternate method to reverse the list elements.
l = [10, 20, 30, 40, 50]
t = len(l) 
for n in range(t-1,-1,-1): 
    print(l[n])

50
40
30
20
10

In [2]:
#list aliasing
l = [10, 20, 30, 40, 50]
y=l
print(id(y))
print(id(l))

2743395279872
2743395279872

In [5]:
#list aliasing
#note:- Somtimes it is not good.
l = [10, 20, 30, 40, 50]
y=l
y[1]=777
print(l)
print(y)

[10, 777, 30, 40, 50]
[10, 777, 30, 40, 50]

In [22]:
#list aliasing
#Using slicing operator.
x = [10, 20, 30, 40, 50]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 777, 30, 40, 50]

In [23]:
#list aliasing
#Using copy() function.
x = [10, 20, 30, 40, 50]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 777, 30, 40, 50]

In [36]:
#using mathematical operators

x=[10,20,30]
y=[40,50,60]
c=x+y
c

[10, 20, 30, 40, 50, 60]

In [30]:
#using mathematical operators
x=[10,20,30]
y=x*3
y

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [26]:
#using mathematical operators
#using extend() function
x=[10,20,30]
y.extend(x*3)
y

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [29]:
#using mathematical operators
x=[10,20,30]
x=x*3
y=x*3
y

[10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30,
 10,
 20,
 30]

In [40]:
#using unirary operator
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==z)
print(x!=z)
print(x!=y)

False
True
False

In [57]:
#using tertary operator
x=10
y=20
z=30
x if x>y and x>z else y if y>z else z

30