In [2]:
#simple tuple 
T=(10,20,30,40)
print(T)
print(type(T))

(10, 20, 30, 40)
<class 'tuple'>

In [5]:
#tuple not possible with only 1 value
t=(10)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [7]:
#tuple only possible with 2 or more value in it or we can add , in the end
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [10]:
#empty tuple
t=()
type(t)

tuple

In [13]:
l=[1,2,3]
#converting list to tuple
t=tuple(l)
print(t)
#converting tuple to list
y=list(t)
print(y)

(1, 2, 3)
[1, 2, 3]

In [14]:
#indexing in tuple
t=10,20,30,40,50,60
print(t[0])
print(t[-1])
print(t[-1],t[1])
print(t[100])

10
60
60 20

IndexError: tuple index out of range

In [15]:
#indexing in slicing
t=10,20,30,40,50,60
print(t[0:5:2])

(10, 30, 50)

In [17]:
#replaceing in tuple is not allowed , check error
t=10,20,30,40
t[1]=70
t
#error ko padho

TypeError: 'tuple' object does not support item assignment

In [25]:
#addition of two tuple
t1=10,20,30
t2=40,50,60
t3=t1+t2
t3

(10, 20, 30, 40, 50, 60)

In [26]:
#finding length
t1=10,20,30,40
len(t1)

4

In [28]:
#count() fuction
t1=10,20,10,10,20
t1.count(10)

3

In [30]:
#index() function
t=10,20,10,10,20
print(t.index(10))
print(t.index(30))
#error ko padho

0

ValueError: tuple.index(x): x not in tuple

In [31]:
#sorted function
t=40,10,30,20
t1=sorted(t)
print(t1)
print(t)

[10, 20, 30, 40]
(40, 10, 30, 20)

In [33]:
#maximum and minimum
t=40,10,30,50
print(min(t))
print(max(t))

10
50

In [35]:
#packing of tuple
a=10
b=20
c=30
d=60
t=a,b,c,d
t

(10, 20, 30, 60)

In [41]:
#Unpacking of tuple
t=10,20,30,40
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)

10
20
30
40