In [4]:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [5]:
s[2:2]

TypeError: 'set' object is not subscriptable

In [6]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [7]:
l=[10,20,30,40,10,20,10]

In [12]:
s=set(l)
li=list(s)
li

[40, 10, 20, 30]

In [20]:
#range() used to make range of set.
sd=set(range(0,10,2))
sd

{0, 2, 4, 6, 8}

In [34]:
#add() function only take one argument.
s={10,20,30}
s.add(40)
s

{10, 20, 30, 40}

In [43]:
#update set using update() function 
s={10,20,30}
l=40,50
li=[23]
s.update(l,li)
s

{10, 20, 30, 40, 50}

In [45]:
#update set using update() function 
s={10,20,30}
li=[23]
s.update(l,li)
s

{10, 20, 23, 30, 40, 50}

In [48]:
#update set using update() function 
s={10,20,30}
l=40,50
s.update(l,li)
s

{10, 20, 23, 30, 40, 50}

In [50]:
#update set using update() function 
s={10,20,30}
l=40,50
li=[23]
s.update(l,range(5),li)
s

{0, 1, 2, 3, 4, 10, 20, 23, 30, 40, 50}

In [52]:
#make clone of set using copy() function.
s={10,20,30}
s1=s.copy()
s1

{10, 20, 30}

In [55]:
s={40,10,30,20}
print(s)
print(s.pop())
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}
10
{20, 30}

In [73]:
s={40,10,30,20}
l=[40,10]
si=s-set(l)
si

{20, 30}

In [91]:
s={40,10,30,20}
for i in range(2):
    i=s.pop()
s

{20, 30}

In [98]:
s={10,20,30}
s.clear()
print(s)
s.add(34)
print(s)

set()
{34}

In [100]:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)
x={10,20,30,40}
y={50,60,70,80}
print(x.union(y))

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 60, 30}

In [101]:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x|y)
x={10,20,30,40}
y={50,60,70,80}
print(x.difference(y))

{10, 20}
{40, 10, 50, 20, 60, 30}
{40, 10, 20, 30}

In [102]:
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x|y)
x={10,20,30,40}
y={50,60,70,80}
print(x.symmetric_difference(y))

{10, 50, 20, 60}
{40, 10, 50, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 60, 30}

In [106]:
s=set('ashish')
print(s)
print('i' in s )
print('l' in s )

{'i', 's', 'a', 'h'}
True
False

In [108]:
s={x*x for x in range(5)}
s

{0, 1, 4, 9, 16}

In [109]:
l=eval(input("Enter List of values:"))
s=set(l)
s

Enter List of values:23,45

{23, 45}

In [112]:
l=eval(input("Enter List of values:"))
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
l1

Enter List of values:10,20,30,10,20,40

[10, 20, 30, 40]

In [121]:
l=('lavkush')
l1=['a','e','i','o','u']
for x in l:
    if x not in l1:
        print(x)

l
v
k
s
h

In [148]:
l=set(input("Enter List of values:"))
l1=['a','e','i','o','u']
j=l-set(l1)
k=l.intersection(l1)
print(k)
print(j)

Enter List of values:lavkush
{'a', 'u'}
{'s', 'k', 'l', 'h', 'v'}