In [15]:
d={
}
print(d)
print(type(d))

{}
<class 'dict'>

In [32]:
d={
    'first-name':'Lavkush',
    'roll-no':10,
    'subject':'python'
}
print(d)
print(d['first-name'])

{'first-name': 'Lavkush', 'roll-no': 10, 'subject': 'python'}
Lavkush

In [30]:
d={}
d[100]='ashish'
d[200]='ravi'
d[300]='shiva'
d[300]='lav'
print(d)
print(type(d))

{100: 'ashish', 200: 'ravi', 300: 'lav'}
<class 'dict'>

In [29]:
d={
    100:'ashish',
    200:'ravi',
    300:'shiva'
}
print(d)
print(type(d))

{100: 'ashish', 200: 'ravi', 300: 'shiva'}
<class 'dict'>

In [33]:
d={
    'first-name':'Lavkush',
    'roll-no':10,
    'subject':'python'
}
print(d)
print(d['first-name'])
print(d['first'])

{'first-name': 'Lavkush', 'roll-no': 10, 'subject': 'python'}
Lavkush

KeyError: 'first'

In [55]:
d={
    100:'ashish',
    200:'ravi',
    300:'shiva'
}
print(d)
print(type(d))
d[300]='lav'
d

{100: 'ashish', 200: 'ravi', 300: 'shiva'}
<class 'dict'>

{100: 'ashish', 200: 'ravi', 300: 'lav'}

In [56]:
del d[100]

In [57]:
d

{200: 'ravi', 300: 'lav'}

In [58]:
del d[100]

KeyError: 100

In [85]:
d[102]='lav'
d

{'ashish': 100, 200: 'ravi', 300: 'shiva', 102: 'lav'}

In [86]:
d.clear()
d

{}

In [87]:
d=dict([(100,'ashish'),(200,'ravi'),(300,'shiva')])
print(d)
print(type(d))
d[100]

{100: 'ashish', 200: 'ravi', 300: 'shiva'}
<class 'dict'>

'ashish'

In [90]:
d=dict([{100,'ashish'},{200,'ravi'},{300,'shiva'}])
print(d)
print(type(d))
d['ashish']

{'ashish': 100, 200: 'ravi', 300: 'shiva'}
<class 'dict'>

100

In [39]:
d=dict([(100,'ashish'),(200,'ravi'),(300,'shiva')])
d.pop(100)
d

{200: 'ravi', 300: 'shiva'}

In [60]:
d={
    100:'ashish',
    200:'ravi',
    300:'shiva'
}
for i in d.values():
    j in d.keys()
    print(i,'--',j)

ashish -- 300
ravi -- 300
shiva -- 300

In [82]:
d={
    100:'ashish',
    200:'ravi',
    300:'shiva'
}
for i in d:
    print(i,"--",d[i])

100 -- ashish
200 -- ravi
300 -- shiva

In [83]:
d={'physics':67,'maths':87}
d1={'practical':48}
d.update(d1)
d

{'physics': 67, 'maths': 87, 'practical': 48}

In [84]:
d={'physics':67,'maths':87}
d1={'practical':48}
d2={'english':33}
d.update(d1,d2)
d

TypeError: update expected at most 1 argument, got 2

In [95]:
d={'physics':67,'maths':87}
d1={'practical':48}
d2={'english':33}
d.update(d1 | d2)
d

{'physics': 67, 'maths': 87, 'practical': 48, 'english': 33}

In [98]:
d={'physics':67,'maths':87}
d1='practical',48
d2='english',33
d.update([(d1),(d2)])
d

{'physics': 67, 'maths': 87, 'practical': 48, 'english': 33}

In [125]:
a={
    i:10*i for i in range(0,50,2)
}
a

{0: 0,
 2: 20,
 4: 40,
 6: 60,
 8: 80,
 10: 100,
 12: 120,
 14: 140,
 16: 160,
 18: 180,
 20: 200,
 22: 220,
 24: 240,
 26: 260,
 28: 280,
 30: 300,
 32: 320,
 34: 340,
 36: 360,
 38: 380,
 40: 400,
 42: 420,
 44: 440,
 46: 460,
 48: 480}

In [148]:
d1 = eval(input('Enter a dictionary'))
s = sum(d1.values())
s

Enter a dictionary{34:34,45:45}

79

In [159]:
w=input("Enter any word:")
d={}
for i in w:
    d[i]=d.get(i,0)+1
    for k,v in d.items():
        print(k,"occurred",v,"times")

Enter any word:lavvvvvvvvvv
l occurred 1 times
l occurred 1 times
a occurred 1 times
l occurred 1 times
a occurred 1 times
v occurred 1 times
l occurred 1 times
a occurred 1 times
v occurred 2 times
l occurred 1 times
a occurred 1 times
v occurred 3 times
l occurred 1 times
a occurred 1 times
v occurred 4 times
l occurred 1 times
a occurred 1 times
v occurred 5 times
l occurred 1 times
a occurred 1 times
v occurred 6 times
l occurred 1 times
a occurred 1 times
v occurred 7 times
l occurred 1 times
a occurred 1 times
v occurred 8 times
l occurred 1 times
a occurred 1 times
v occurred 9 times
l occurred 1 times
a occurred 1 times
v occurred 10 times