# Why List - Declaring - Checking type

In [24]:
#Create a List having all even numbers between 1 to 10 and check its type

list

In [26]:
#Create a List having your name (Ashish) and your fav number (135) and check its type

list

# List indexing

In [27]:
#Use the first list created and print 1st element

2

In [28]:
#Use the first list created and print 2nd to 4th element(including both)

[4, 6, 8]

In [29]:
#Use the first list created and print last 2 elements

[8, 10]

# Difference between list and string

In [30]:
#In your original list - chane first element to 1

In [31]:
#Print list to observe the change

[1, 4, 6, 8, 10]

In [32]:
#create a string of your name(Ashish )

In [33]:
#try to change first character of name by 'I'

TypeError: 'str' object does not support item assignment

In [ ]:
#Observe the error above -  recollect immutable and mutable concept in class

# List Method and Functions - Basic of function

In [34]:
#Create a simple lsit having values 20,30,40,50,60,70,80

In [35]:
#Check the legth of above list using len function

7

In [36]:
#Use pop function to delete 4th element from list -  in this case its 50

50

In [37]:
#Check list again to see if 50 is deleted

[20, 30, 40, 60, 70, 80]

In [38]:
#Lets add back 50 again by using append method

In [39]:
#print List again to check if number 50 is added

[20, 30, 40, 60, 70, 80, 50]

In [40]:
#Create a new list having values 90,100 and combine both list using extend

In [41]:
#Print list

[20, 30, 40, 60, 70, 80, 50, 90, 100]

# Nested List

In [42]:
#Create a nested list with values - 12,[13,14,15],16

In [43]:
#View Nested List

[12, [13, 14, 15], 16]

# List Comprehension

In [44]:
#Create a list having values as [100,200,300,400,500]

In [45]:
#Create a new list which divided all numbers by 2 and gives new list using list comprehension

In [46]:
#Print above created List to see if numbers are divided by 2

[50.0, 100.0, 150.0, 200.0, 250.0]