# What and why of tuples - Declaring tuples

In [43]:
#Create a tuple having 4 numbers 45,65,75,85

In [44]:
#Check the type of above created tuple

tuple

In [9]:
#Create a tuple having values 'a','b','c' -  use "tuple" for this

In [46]:
#Access the first element of above tuple - In this case 'a'

'a'

In [47]:
#Access the second and third element of above tuple - In this case 'b','c'

('b', 'c')

# Immutable properties of tuple

In [48]:
#Try to change the second value of tuple to 'd'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Note the immutable property of tuple - not supporting modification

# Some functions on tuples - in , not in

In [49]:
#Find if 'a' is there in tuple using 'in' keyword

True

In [50]:
#Find if 'b' is not in above tuple using 'not in' keyword

False

In [51]:
#FInd legth of the tuple

3

# Sets - Unordered and Unindexed

In [27]:
#create a set having 4 elements - 'p','q','r','s'

In [53]:
#Check type of above created varibale

set

In [54]:
#Try to access first element of set

TypeError: 'set' object is not subscriptable

In [55]:
#Note the above error - you dont have index in set, like list and tuple

# Deduplication using sets

In [56]:
#Create a set with some duplicate values like 9,0,9,0

In [57]:
#View the set to observe how duplicate elememts are removed

{0, 9}

# Set functions like Union, intersections, len, add , remove

In [58]:
#create two different sets 
#In first set put - 'cricket','football','Hockey'
#In second set put - 'Chess','Swimming','football'

In [59]:
#Find an intersection of above two sets

{'football'}

In [60]:
#Find the union of above two sets

{'Chess', 'Hockey', 'Swimming', 'cricket', 'football'}

In [61]:
#Find the difference of two sets  first set - second set

{'Hockey', 'cricket'}

In [62]:
#Add another game - 'Basketball' in first set

In [63]:
#Print the set to check addition

{'Basketball', 'Hockey', 'cricket', 'football'}

In [64]:
#Remove cricket from set

In [65]:
#Check Set agian

{'Basketball', 'Hockey', 'football'}

In [66]:
#try to access first element of above set

TypeError: 'set' object is not subscriptable

In [ ]:
#NOte the error above - sets do not have index

# Compare List, Tuple and Sets

In [68]:
#create a list, a tuple and a set all having same values - 11,22,33

In [ ]:
#Check the types of all vars one by one

list

tuple

set