# What is a key value pair

In [ ]:
#Think of any key-value pair from your real life - just to get idea of how it can be

# Creating Dictionary

In [2]:
#Create a dictionary with key-vlaue as this - 'Movie':'Baahubali', 'Actor':'Prabhas', 'Director' : "Rajamouli"

In [3]:
#Check type of above dictionary

dict

# Checking Dictionary Keys and values

In [4]:
#Print all keys of above created dictionary

dict_keys(['Movie', 'Actor', 'Director'])

In [5]:
#Print all values of above created dictionary

dict_values(['Baahubali', 'Prabhas', 'Rajamouli'])

In [6]:
#What is the value associated with key "Actor"

'Prabhas'

In [8]:
#What is the value associated with key "Director"

'Rajamouli'

# Updating dictionary

In [10]:
#Update baahubali actor to "Mahesh Babu"

In [14]:
#View the updated dictinary

{'Movie': 'Baahubali', 'Actor': 'Mahesh Babu', 'Director': 'Rajamouli'}

In [15]:
#Print the actor value

'Mahesh Babu'